.col{
    
    background-color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 5%;

}
.container{
    background-color: #f2f2f2;
}

.buttondeleteuser{
    margin: 10px;
}
