
.container {
  margin-top: 2%;
  background-color: #f7f7f7;
  padding: 5%;
}

.form-label {
  font-weight: bold;
}

.form-control {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1%;
}

.btn-primary:hover {
  background-color: #0069d9;
  
}
.form-label {
  font-weight: bold;
  font-size: 15px;
}
.btn-block{
  margin:5%
}
.formuser{
  text-align: left;
}
#rolSpan:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.5); 
}